* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  background: #fff;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.meta {
  color: #777;
  font-size: 14px;
}

.banner img {
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
}

.info div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.info span:first-child {
  color: #555;
}

.download {
  text-align: center;
  margin: 20px 0;
}

.playstore {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.description {
  margin-top: 25px;
}

.description h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.description p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

.description ul {
  padding-left: 18px;
}

.description li {
  margin-bottom: 6px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left,
.nav-right {
  font-size: 22px;
  cursor: pointer;
}

.nav-center img {
  height: 40px;
}
.foto1 {
  padding: 15px;
}

.foto1 img {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 5px;
}
.foto2 {
  padding: 15px;
}

.foto2 img {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 5px;
}
.download2 {
  text-align: center;
  margin: 20px 0;
}

.playstore2 {
  display: inline-block;
  background: #7CFC98;
  color: #000;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.footer {
  background-color: #3aa1b8;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #000;
}

.follow {
  margin: 15px 0;
}

.social-icons a img {
  width: 40px;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background: #000;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}